@import url('https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css');


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');


.txt1{
    font-family: 'Fira Code', monospace;
}
.txt2{
    font-family: 'Inter', sans-serif;
}
.txt3{
    font-family: 'Roboto Mono', monospace;
}
.imgBg {
    background-size: cover;
    height: auto;
}

.morning{
    background-image: url('./images/morning.jpg');
}
.day{
    background-image: url('./images/day.jpg');
}
.evening{
    background-image: url('./images/evening.jpg');
}
.night{
    background-image: url('./images/night.jpg');
}

